<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./inc/_head', {}) %>
  <meta name="description" content="<%= pages.home.description %>">
  <title><%= pages.home.title %></title>
</head>
<body>
  <%- include('./inc/_header', {}) %>

  <main>
    <section>
      <h1>Home</h1>
    </section>
  </main>

  <%- include('./inc/_footer', {}) %>

</body>
</html>
